<header class="site-header">
  <div class="site-header__inner">
    <a class="brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <nav class="nav">
      <a href="{{ '/farms/' | relative_url }}">Farms</a>
      <a href="{{ '/markets/' | relative_url }}">Markets</a>
      <a href="{{ '/stores/' | relative_url }}">Stores</a>
      <a href="{{ '/restaurants/' | relative_url }}">Restaurants</a>
      <a href="{{ '/distributors/' | relative_url }}">Hubs</a>
      <a href="{{ '/vendors/' | relative_url }}">Vendors</a>
      <a href="{{ '/map/' | relative_url }}">Map</a>
      <a href="{{ '/submit.html' | relative_url }}">Add / Update a Listing</a>
      <a class="pill" href="{{ '/country/new-zealand/' | relative_url }}">Aotearoa NZ</a>
    </nav>
  </div>
</header>
